{{! views/admin/listTutoring.handlebars }}

<div class='flex justify-between items-center mb-4'>
  <h1 class='text-2xl font-bold'>{{title}}</h1>

  <!-- Botão "Cadastrar Monitoria" -->
  <a
    href='/admin/createTutoring'
    class='bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded'
  >
    Cadastrar Monitoria
  </a>
</div>

{{#if availabilities.length}}
  <div class='overflow-x-auto'>
    <table class='min-w-full bg-white border border-gray-200'>
      <thead>
        <tr class='bg-gray-200 text-gray-600 uppercase text-sm leading-normal'>
          <th class='py-3 px-6 text-left'>Monitor</th>
          <th class='py-3 px-6 text-left'>Disciplina</th>
          <th class='py-3 px-6 text-left'>Dia</th>
          <th class='py-3 px-6 text-left'>Hora Início</th>
          <th class='py-3 px-6 text-left'>Hora Fim</th>
          <th class='py-3 px-6 text-center'>Ações</th>
        </tr>
      </thead>
      <tbody class='text-gray-600 text-sm font-light'>
        {{#each availabilities}}
          <tr class='border-b border-gray-200 hover:bg-gray-100'>
            <td class='py-3 px-6 text-left'>{{this.User.name}}</td>
            <!-- Nome do monitor -->
            <td class='py-3 px-6 text-left'>{{this.subject}}</td>
            <!-- Disciplina -->
            <td class='py-3 px-6 text-left'>{{this.day}}</td>
            <!-- Dia -->
            <td class='py-3 px-6 text-left'>{{formatTime this.startTime}}</td>
            <!-- Hora de início formatada -->
            <!-- Hora de início -->
            <td class='py-3 px-6 text-left'>{{formatTime this.endTime}}</td>
            <!-- Hora de fim formatada -->
            <!-- Hora de fim -->
            <td class='py-3 px-6 text-center'>
              <div class='flex item-center justify-center'>
                <!-- Ícone de Editar -->
                <a
                  href='/admin/availability/edit/{{this.id}}'
                  class='w-4 mr-2 transform hover:text-yellow-500 hover:scale-110'
                >
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    class='h-6 w-6'
                    fill='none'
                    viewBox='0 0 24 24'
                    stroke='currentColor'
                  >
                    <path
                      stroke-linecap='round'
                      stroke-linejoin='round'
                      stroke-width='2'
                      d='M11 5h2m0 0v2m0-2l3 3m-3-3l-3 3m6 7H9m0 0v-2m0 0h6m0 0v-2'
                    />
                  </svg>
                </a>

                <!-- Ícone de Excluir -->
                <form
                  action='/admin/availability/delete/{{this.id}}'
                  method='POST'
                  class='inline'
                >
                  <button
                    type='submit'
                    class='w-4 mr-2 transform hover:text-red-500 hover:scale-110'
                  >
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      fill='none'
                      viewBox='0 0 24 24'
                      stroke-width='1.5'
                      stroke='currentColor'
                      class='h-6 w-6'
                    >
                      <path
                        stroke-linecap='round'
                        stroke-linejoin='round'
                        d='M6 18V6m6 12V6m6 12V6'
                      />
                    </svg>
                  </button>
                </form>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <p class='text-gray-500'>Nenhuma monitoria encontrada.</p>
{{/if}}